<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Todo</h1>
		<div>
			<input type="text" id="add-text"><br/>
			<button class="add-btn">创建Todo</button>
		</div>
		<div>
			<table class="todo-list">
				<tr>
					<th>Todo项目</th>
					<th>创建时间</th>
					<th>更新时间</th>
					<th>编辑Todo</th>
					<th>删除Todo</th>
				</tr>
			</table>
		</div>
		<script src="/static?file=utils.js"></script>
		<script src="/static?file=apis.js"></script>
		<script src="/static?file=todo.js"></script>
	</body>
</html>
